<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>

<div th:fragment="footer">
<footer class="page-footer light-blue accent-1">
    <div class="footer-copyright light-blue darken-4">
        <div class="container">
            © 2021 Echo Vault Inc.
            <a th:href="@{/about}" class="right">About Us</a>
        </div>
    </div>
</footer>
</div>


        <div th:fragment="echo-footer" >
        <div class="page-footer light-blue accent-1">
          <div class="footer-copyright light-blue darken-4">
            <div class="container">
            © 2021 Echo Vault Inc.
                    <a th:href="@{/about}" class="right">About Us</a>
            </div>
          </div>
        </div>
        </div>



</body>
</html>