<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${title}"></title>
    <link type="text/css" rel="stylesheet" href="../../static/css/materialize.min.css" media="screen,projection"/>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer-copyright">
        <div class="container">
            © 2021 Echo Vault Inc.
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

</body>
</html>