<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <div th:fragment="comment-modal" th:id="'addComment' + ${memory.getId()}" class="modal grey lighten-4">
        <form th:action="@{/comment}" method="post" th:object="${comment}">
            <div class="modal-content" style="padding-bottom: 0 !important;">
                <div class="row" style="margin-bottom: 0 !important;">
                    <div class="input-field col s12">
                        <textarea id="commentText" class="materialize-textarea" th:field="*{body}"></textarea>
                        <label for="commentText">Add A Comment...</label>
                    </div>
                    <input type="hidden" name="memoryId" th:value="${memory.getId()}">
                    <input type="hidden" name="userId" th:value="${user.getId()}">
                </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="left modal-close waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Cancel</a>
              <button type="submit" class="right waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Add Comment</button>
            </div>
        </form>
    </div>

    <div th:fragment="edit-memory-modal" th:id="'edit' + ${memory.getId()}" class="modal grey lighten-4">
        <form th:action="@{/memory/edit}" method="post" enctype="multipart/form-data">
            <div class="modal-content" style="padding-bottom: 0 !important;">
                <div class="row" style="margin-bottom: 0 !important;">
                    <div class="input-field col s9">
                        <textarea id="editBody" class="materialize-textarea" name="body" th:text="${memory.body}"></textarea>
                        <label for="editBody">Edit Your Memory...</label>
                    </div>
                    <div class="file-field input-field col s3">
                         <div class="waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4" style="width: 100%">
                             <span>Edit Photo<i class="material-icons left">image</i></span>
                             <input type="file" name="memoryImg">
                         </div>
                         <div class="file-path-wrapper">
                             <input class="file-path validate" type="hidden">
                         </div>
                     </div>
                    <input type="hidden" th:value="${memory.getId()}" name="editMemoryId">
                    <input type="hidden" th:value="${memory.getEcho().getId()}" name="memoryEchoId">
                    <input type="hidden" th:value="${memory.getImage()}" name="memoryImage">
                </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="left modal-close waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Cancel</a>
              <button type="submit" class="right waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Submit</button>
            </div>
        </form>
    </div>

    <div th:fragment="edit-comment-modal" th:id="'editC' + ${comment.getId()}" class="modal grey lighten-4">
        <form th:action="@{/comment/edit}" method="post" enctype="multipart/form-data">
            <div class="modal-content" style="padding-bottom: 0 !important;">
                <div class="row" style="margin-bottom: 0 !important;">
                    <div class="input-field col s12">
                      <textarea id="editComment" class="materialize-textarea" name="body" th:text="${comment.body}"></textarea>
                        <label for="editComment">Edit Your Comment...</label>
                    </div>
                    <input type="hidden" th:value="${comment.getId()}" name="editCommentId">
                    <input type="hidden" th:value="${comment.getMemory.getEcho().getId()}" name="commentEchoId">
                </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="left modal-close waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Cancel</a>
              <button type="submit" class="right waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Submit</button>
            </div>
        </form>
    </div>

    <div th:fragment="delete-memory-modal" th:id="'delete' + ${memory.getId()}" class="modal grey lighten-4">
        <form th:action="@{/memory/delete}" method="post">
            <div class="modal-content" style="padding-bottom: 0 !important;">
                <h4>Are you sure you want to delete this memory?</h4>
                <input type="hidden" th:value="${memory.getId()}" name="deleteMemoryId">
                <input type="hidden" th:value="${memory.getEcho().getId()}" name="memoryEchoId">
            </div>
            <div class="modal-footer">
              <a href="#!" class="left modal-close waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">No</a>
              <button type="submit" class="right waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Yes</button>
            </div>
        </form>
    </div>

    <div th:fragment="delete-comment-modal" th:id="'deleteC' + ${comment.getId()}" class="modal grey lighten-4">
        <form th:action="@{/comment/delete}" method="post">
            <div class="modal-content" style="padding-bottom: 0 !important;">
                <h4>Delete?</h4>
                <input type="hidden" th:value="${comment.getId()}" name="deleteCommentId">
                <input type="hidden" th:value="${comment.getMemory.getEcho().getId()}" name="commentEchoId">
            </div>
            <div class="modal-footer">
              <a href="#!" class="left modal-close waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">No</a>
              <button type="submit" class="right waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Yes</button>
            </div>
        </form>
    </div>

    <div th:fragment="delete-modal" th:id="${echo.id}" class="modal grey lighten-4">
        <form th:action="@{/echo/{id}/delete/(id=${echo.id})}" method="post">
            <div class="modal-content" style="padding-bottom: 0 !important;">
                <h4>Delete This Echo?</h4>
                <p>Keep in mind that this action cannot be undone.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="left modal-close waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">No</a>
              <button type="submit" class="right waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Yes</button>
            </div>
        </form>
    </div>

    <div th:fragment="delete-link-modal" th:id="'deleteL' + ${link.getId()}" class="modal grey lighten-4">
        <form th:action="@{/link/delete}" method="post">
            <div class="modal-content" style="padding-bottom: 0 !important;">
                <h4>Delete?</h4>
                <input type="hidden" th:value="${link.getId()}" name="linkId">
                <input type="hidden" th:value="${link.getEcho().getId()}" name="linkEchoId">
            </div>
            <div class="modal-footer">
              <a href="#!" class="left modal-close waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">No</a>
              <button type="submit" class="right waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Yes</button>
            </div>
        </form>
    </div>

    <div th:fragment="link-modal" th:id="'addLink' + ${echo.getId()}" class="modal grey lighten-4">
        <form th:action="@{/link}" method="post">
            <div class="modal-content" style="padding-bottom: 0 !important;">
                <div class="row" style="margin-bottom: 0 !important;">
                    <div class="input-field col s12 m6">
                        <label for="linkName">Display Name</label>
                        <input type="text" name="linkName" id="linkName">
                    </div>
                    <div class="input-field col s12 m6">
                        <label for="link">Link</label>
                        <input type="text" name="link" id="link">
                    </div>
                    <input type="hidden" name="echoId" th:value="${echo.getId()}">
                </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="left modal-close waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Cancel</a>
              <button type="submit" class="right waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Add Link</button>
            </div>
        </form>
    </div>

    <div th:fragment="map-edit-modal" id="editMap" class="modal grey lighten-4" style="height: 90%!important;">
        <form th:action="@{/map}" th:object="${echo}" method="post">
            <div class="modal-content" style="padding-bottom: 0 !important;">
                <div class="row" style="margin-bottom: 0 !important;">
                    <div class="col s12 input-field">
                            <div id="geocoder" class="geocoder"></div>
                            <label for="geocoder"></label>
                            <div id="map"></div>
                     </div>
                    <input type="hidden" id="burialaddressEdit" th:field="*{restingPlace}">
                    <input type="hidden" name="echoId" th:value="${echo.getId()}">
                </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="left modal-close waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Cancel</a>
              <button type="submit" class="right waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Submit</button>
            </div>
        </form>
    </div>









