<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head></head>
<body>

<header th:fragment="navbar">

    <nav>
        <div class="nav-wrapper">
            <a th:href="@{/}" class="brand-logo valign-wrapper">EchoVault</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a th:href="@{/}">Home</a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/login}">Login</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a id="echo-create" th:href="@{/echo-create}">Create an Echo</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a id="view-profile" th:href="@{/profile}">Profile</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a id="logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <form id="logoutForm" th:action="@{/logout}" th:method="post"></form>

</header>

</body>
