<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div th:fragment="scripts" th:remove="tag">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <script th:src="@{/js/keys.js}"></script>
    <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
            type="text/css"
    />
    <script>
        $(document).ready(function() {
            M.textareaAutoResize($('#textarea1'));
            $('.datepicker').datepicker({
                format: 'mmmm dd yyyy',
                yearRange: [1900, 2021],
                maxDate: new Date()
            });
            $('select').formSelect();
            function autoplay() {
                $('.carousel').carousel('next');
                setTimeout(autoplay, 4500);
            }
            $('#logout').click(function(){
                $('#logoutForm').submit();
            })
            $('#logout2').click(function(){
                $('#logoutForm').submit();
            })
            $('.deleteMemory').click(function(){
                $('.deleteMemoryForm').submit();
            })
            $('.editMemory').click(function(){
                $('.editMemoryForm').submit();
            })
            $('.modal').modal();
            // let divWidth = $('.profile-card').width();
            // $('.summary-card').css('min-width', divWidth+'px');
            // function adjustCardWidth(){
            //     $('.summary-card').css('min-width', divWidth+'px');
            // }
            // document.getElementsByTagName('body').addEventListener("resize", adjustCardWidth)
            $('.tooltipped').tooltip();
            $('.sidenav').sidenav();
            $('.view_carousel').click(function(){
                $('.carousel').toggleClass('hide');
                $('.carousel').carousel();
                autoplay();
            })

            $('.carousel.carousel-slider').carousel({
                indicators: true,
                fullWidth: true,
            });

            function autoplayhome() {
                $('.carousel.carousel-slider').carousel('next');
                setTimeout(autoplay, 4500);
            }

            M.updateTextFields();

        });
    </script>
</div>

</body>
</html>