
.jumbotron {
    background-image: url("../img/sunset1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:darkblue;
}


.card-content{
    height: 130px;
}

.card-action {
    height: 100px;

}

.echo-vault-intro{
    width: 13em;
    /*margin-left: 40px;*/
    margin-top: 150px;
    font-family: "Sofia", sans-serif;
    font-size: 150%
}

.echo-vault-logo{
    /*margin-left:50px;*/
    margin-top: 30px;

}

.user-profile-img {
    padding-top: 1.5em;
}


.delete-modal {
    width: max-content;
}


.icon{
    width: 2em;
    margin: 1em;
}



