.jumbotron {
    background-image: url("../img/sunset1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:darkblue;
}

/*.card-content{*/
/*    height: 130px;*/
/*}*/

/*.card-action {*/
/*    height: 100px;*/
/*}*/

.echo-vault-intro{
    width: 20em;
}

.echo-vault-logo{
    margin-top: -30px;

}

.user-profile-img {
    padding-top: 1.5em;
}


.delete-modal {
    width: max-content;
}


/*.icon{*/
/*    width: 2em;*/
/*    margin: 1em;*/
/*}*/


.home-page-buttons{
    margin: 10px;
}

.search-home{
    width: 200px;
}

