.jumbotron {
    background-image: url("../img/sunset1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 160px;
    color:darkblue;
}

.user-profile-img {
    padding-top: 1.5em;
}