<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials/head.html :: head('Welcome')"></div>

<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<h2>Meet our Developers</h2>


    <div class="col s12 m6 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s6">
                    <img src="img/kaitlin.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->

                    <div class="card-action center-align">
                        <h4>Kaitlin Muse</h4>
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
                <div class="col s6">
                    <img src="img/kaitlin.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->

                    <div class="card-action center-align">
                        <h4>Ryan McGuire</h4>
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
                <div class="col s6">
                    <img src="img/eleanor.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->

                    <div class="card-action center-align">
                        <h4>Eleanor Ellingson</h4>
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
                <div class="col s6">
                    <img src="img/will.JPG" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->

                    <div class="card-action center-align">
                        <h4>Will Tisdale</h4>
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>

            </div>
        </div>
    </div>





</body>
</html>