<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head.html :: head('Welcome')"></head>

<body class="blue-texture">
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="meet center-align">
    <h2>Meet our Developers</h2>
</div>

<!--    <div class="col s12 m6 offset-m2 l6 offset-l3">-->

            <div class="row">
                <div class="col s12 m6 l3">
                    <div class="card-panel grey lighten-5 z-depth-1">
                    <img src="img/kaitlin.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->

                    <div class="card-action center-align">
                        <h5>Kaitlin Muse</h5>
                        <a href="https://github.com/KaitlinKelley">
                            <img class="icon-about" src="img/github.png" alt="Github icon">
                        </a>
                        <a href="https://www.linkedin.com/in/kaitlin-muse/">
                            <img class="icon-about" src="img/linkedin.png" alt="Linkedin icon">
                        </a>
                    </div>
                </div>
            </div>
                <div class="col s12 m6 l3">
                    <div class="card-panel grey lighten-5 z-depth-1">
                    <img src="img/ryan.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->

                    <div class="card-action center-align">
                        <h5>Ryan McGuire</h5>
                        <a href="https://github.com/RyanMcGuire1">
                            <img class="icon-about" src="img/github.png" alt="Github icon">
                        </a>
                        <a href="https://www.linkedin.com/in/ryan-wayne-mcguire/">
                            <img class="icon-about" src="img/linkedin.png" alt="Linkedin icon">
                        </a>
                    </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card-panel grey lighten-5 z-depth-1">
                    <img src="img/eleanor.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->

                    <div class="card-action center-align">
                        <h5>Eleanor Ellingson</h5>
                        <a href="https://github.com/EleanorEllingson">
                            <img class="icon-about" src="img/github.png" alt="Github icon">
                        </a>
                        <a href="https://www.linkedin.com/in/eleanor-ellingson/">
                            <img class="icon-about" src="img/linkedin.png" alt="Linkedin icon">
                        </a>
                    </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card-panel grey lighten-5 z-depth-1">
                    <img src="img/will.JPG" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->

                    <div class="card-action center-align">
                        <h5>Will Tisdale</h5>
                        <a href="https://github.com/WillTisdale">
                            <img class="icon-about" src="img/github.png" alt="Github icon">
                        </a>
                        <a href="https://www.linkedin.com/in/willtisdale/">
                            <img class="icon-about" src="img/linkedin.png" alt="Linkedin icon">
                        </a>
                    </div>
                    </div>
                </div>

            </div>

<!--    </div>-->




<div th:replace="partials/footer.html :: footer"></div>
<div th:replace="partials/scripts.html :: scripts"></div>
</body>
</html>