<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="partials/head.html :: head"></div>
<body>
<div th:replace="partials/navbar.html :: navbar"></div>

<main>
    <!--    carousel-->

        <div class="carousel">
            <div class="carousel-fixed-item center"><h1 th:text="${echo.getFullName()}"></h1></div>
            <a th:each="image : ${echo.getImages()}" class="carousel-item" th:href="'#' + ${echo.getImages().indexOf(image) + 1} + '!'"><img th:src="${image.path}"></a>
        </div>



    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card profile-card large">
                    <div class="card-image background-image">
                      <img th:src="${echo.backgroundImage}">
                    </div>
                    <img class="circle profile-image" th:src="${echo.profileImage}">
                    <div class="card-content profile-content">
                      <p class="center" th:text="${echo.getDisplayedDates()}"></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 valign-wrapper">
                <div class="card summary-card large">
                    <div class="card-content">
                      <span class="card-title">Life Story</span>
                      <p th:text="${echo.summary}"></p>
                    </div>
<!--                    <div class="card-action">-->
<!--                      <a href="#">This is a link</a>-->
<!--                      <a href="#">This is a link</a>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col hide-on-small-and-down m3 memory-posters">
                <h4 class="center">Posters</h4>
                <div class="row">
                    <div class="col s12 center" th:each="memory : ${echo.getMemories()}">
                        <div class="chip">
                            <img th:src="${memory.user.image}">
                            <span th:text="${memory.user.getFullName()}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m9">
                <div class="row">
                    <div class="col s12">
                        <div class="card horizontal">
                          <div class="card-stacked">
                              <form th:action="@{/memory}" method="post" th:object="${memory}">
                                <div class="card-content">
                                    <span class="card-title">Share a memory...</span>
                                  <div class="input-field col s12">
                                      <textarea id="textarea1" class="materialize-textarea" th:field="*{body}"></textarea>
<!--                                      <label for="textarea1">Textarea</label>-->
                                      <input type="hidden" name="echoId" th:value="${echo.getId()}">
                                      <input type="hidden" name="userId" th:value="${user.getId()}">
                                    </div>
                                </div>
                                  <div class="card-action">
                                    <button class="btn waves-effect waves-light" type="submit">Submit
                                    <i class="material-icons right">send</i>
                                  </button>
                                    </div>
                              </form>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row scrollable">
                    <div th:each="memory : ${echo.getMemories()}" class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                              <span class="card-title" th:text="${memory.user.getFullName()}"></span>
                              <p th:text="${memory.body}"></p>
                              <p th:text="${memory.createdAt}"></p>
                            </div>
                            <div class="card-action">
                              <div th:if="${memory.getNumberOfComments()} != null">
                                  <a class="activator" th:text="${memory.getNumberOfComments()}"></a>
                              </div>
                                <a class='modal-trigger' href='#modal1' >Add Comment</a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title">Comments<i class="material-icons right">close</i></span>
                                <div th:each="comment : ${memory.getComments()}">
                                    <h6 th:text="${comment.user.getFullName()}"></h6>
                                    <p th:text="${comment.body}"></p>
                                </div>
                            </div>
                        </div>
                        <div th:replace="partials/modal.html :: comment-modal"></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>


</main>


<div th:replace="partials/footer.html :: echo-footer"></div>
<div th:replace="partials/scripts.html :: scripts"></div>
</body>
</html>