<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<div th:replace="partials/head.html :: head(${echo.getFullName()})"></div>
<body class="light-blue-text text-darken-4">

<div th:replace="partials/navbar.html :: navbar"></div>

<main class="blue-texture">

<!--    <th:block th:if="${echo.getImages().size()} > 0">-->
<!--      <a href="#!" class="btn-floating btn-large waves-effect waves-amber waves-lighten-4 amber lighten-2 main-btn right view_carousel" style="display: flex; align-items: center; margin: 15px 15px 0 0; z-index: 1">-->
<!--          <i class="material-icons tooltipped light-blue-text text-darken-4" data-position="bottom" data-tooltip="View Slideshow">view_carousel</i>-->
<!--      </a>-->
<!--      <a href="#!" class="hide center btn-floating btn-large waves-effect waves-amber close-btn waves-lighten-4 amber right lighten-2 view_carousel" style="display: flex; align-items: center; margin: 15px 15px 0 0; z-index: 1">-->
<!--           <i class="material-icons tooltipped light-blue-text text-darken-4" data-position="bottom" data-tooltip="Hide Slideshow">view_carousel</i>-->
<!--        </a>-->
<!--    </th:block>-->
    <!--    carousel-->
    <div class="carousel hide">
        <a th:each="image : ${echo.getImages()}" class="carousel-item" th:href="'#' + ${echo.getImages().indexOf(image) + 1} + '!'"><img class="slideshowLG" th:src="${image.path}"></a>
    </div>

<!--    <div class="carousel carousel-slider echoCarousel hide">-->
<!--        <div class="carousel-fixed-item center">-->
<!--            <div class="card grey lighten-4 center" style="width: 20%; background: tr;">-->
<!--                <h1 th:text="${echo.getFullName()}"></h1>-->
<!--                <p class="center" th:text="${echo.getDisplayedDates()}" ></p>-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="carousel-item" th:each="image : ${echo.getImages()}" th:href="'#' + ${echo.getImages().indexOf(image) + 1} + '!'">-->
<!--            <div class="container center">-->
<!--                <img th:src="${image.path}" style="max-width: 500px">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="container slideshow-swap">
        <div class="row">
            <div class="col s12 m6">
                <div class="card profile-card large hoverable grey lighten-4">
                    <div class="card-image background-image">
                      <img th:src="${echo.backgroundImage}" style="max-height: max-content">
                    </div>
                    <img class="circle profile-image responsive-img" th:src="${echo.profileImage}" style="max-height: 200px">
                    <div class="card-content profile-content" style="margin-top: auto">
                      <h5 class="center" th:text="${echo.getFullName()}"></h5>
                      <p class="center" th:text="${echo.getDisplayedDates()}" ></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 valign-wrapper">
                <div class="card summary-card large hoverable grey lighten-4">
                    <div class="card-content scrollable-card">
                        <div class="row">
                            <div class="col s10">
                                <span class="card-title center">Life Story</span>
                            </div>
                            <div class="col s2">
                                <th:block th:if="${echo.getImages().size()} > 0">
                                  <a href="#!" class="btn-floating btn-large waves-effect waves-amber waves-lighten-4 amber lighten-2 right view_carousel" style="display: flex; align-items: center">
                                      <i class="material-icons tooltipped light-blue-text text-darken-4" data-position="bottom" data-tooltip="View Slideshow">view_carousel</i>
                                  </a>
                                </th:block>
                            </div>
                        </div>
                        <p class="scrollable-card" th:text="${echo.summary}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" th:if="${echo.getMemories().size()} == 0">
            <th:block th:switch="${user.getId()} != 0">
                <th:block th:case="true">
                     <div class="col s12">
                         <div class="row memory-form card hoverable grey lighten-4">
                             <form th:action="@{/memory}" method="post" th:object="${memory}" class="col s12" enctype="multipart/form-data" style="padding-bottom: 10px">
                                 <div class="row">
                                     <div class="input-field col s9">
                                         <textarea id="textarea1" class="materialize-textarea" th:field="*{body}"></textarea>
                                         <label for="textarea1">What would you like to share?</label>
                                         <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />
                                     </div>
                                     <div class="file-field input-field col s3">
                                         <div class="waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4" style="width: 100%">
                                             <span>Photo<i class="material-icons left">image</i></span>
                                             <input type="file" name="memoryImg">
                                         </div>
                                         <div class="file-path-wrapper">
                                             <input class="file-path validate" type="hidden">
                                         </div>
                                     </div>
                                 </div>
                                 <div class="row">
                                     <div class="col s12">
                                         <input type="hidden" name="echoId" th:value="${echo.getId()}">
                                         <input type="hidden" name="userId" th:value="${user.getId()}">
                                         <button style="width: 100%" class="waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4" type="submit">Share A Memory...
                                             <i class="material-icons left">cloud</i>
                                         </button>
                                     </div>
                                 </div>
                             </form>
                         </div>
                     </div>
                </th:block>
                <th:block th:case="*">
                    <div class="col s12">
                         <div class="row card hoverable grey lighten-4">
                             <div class="col s12">
                                 <h4 class="center">Register/Login to post a Memory or Comment</h4>
                                 <div class="row">
                                     <div class="col s6">
                                        <a th:href="@{/register}" style="width: 100%" class="waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Register</a>
                                     </div>
                                     <div class="col s6">
                                        <a th:href="@{/login}" style="width: 100%" class="waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Login</a>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                </th:block>
             </th:block>
        </div>
        <div class="row" th:if="${echo.getMemories().size()} > 0">
            <div class="col hide-on-small-and-down m3 card hoverable grey lighten-4" style="background: transparent">
                <h4 class="center">Guest Book</h4>
                <div class="row">
                    <div class="col s12 center" th:each="c : ${commenters}">
                        <div class="chip">
                            <img th:src="${c.image}">
                            <span th:text="${c.getFullName()}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m8 offset-m1">
                <div class="row">
                    <th:block th:switch="${user.getId()} != 0">
                        <th:block th:case="true">
                             <div class="col s12">
                                 <div class="row memory-form card hoverable grey lighten-4">
                                     <form th:action="@{/memory}" method="post" th:object="${memory}" class="col s12" enctype="multipart/form-data" style="padding-bottom: 10px">
                                         <div class="row">
                                             <div class="input-field col s9">
                                                 <textarea id="textarea1" class="materialize-textarea" th:field="*{body}"></textarea>
                                                 <label for="textarea1">What would you like to share?</label>
                                                 <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />
                                             </div>
                                             <div class="file-field input-field col s3">
                                                 <div class="waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4" style="width: 100%">
                                                     <span>Photo<i class="material-icons left">image</i></span>
                                                     <input type="file" name="memoryImg">
                                                 </div>
                                                 <div class="file-path-wrapper">
                                                     <input class="file-path validate" type="hidden">
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col s12">
                                                 <input type="hidden" name="echoId" th:value="${echo.getId()}">
                                                 <input type="hidden" name="userId" th:value="${user.getId()}">
                                                 <button style="width: 100%" class="waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4" type="submit">Share A Memory...
                                                     <i class="material-icons left">cloud</i>
                                                 </button>
                                             </div>
                                         </div>
                                     </form>
                                 </div>
                             </div>
                        </th:block>
                        <th:block th:case="*">
                            <div class="col s12">
                                 <div class="row card hoverable grey lighten-4">
                                     <div class="col s12">
                                         <h4 class="center">Register/Login to post a Memory or Comment</h4>
                                         <div class="row">
                                             <div class="col s6">
                                                <a th:href="@{/register}" style="width: 100%" class="waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Register</a>
                                             </div>
                                             <div class="col s6">
                                                <a th:href="@{/login}" style="width: 100%" class="waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4">Login</a>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                        </th:block>
                     </th:block>
                        </div>
                    </th:block>
                    <div class="row scrollable">
                        <div th:each="memory : ${echo.getMemories()}" class="col s12 m6">
                            <th:block th:switch="${memory.getImage()} == null">
    <!--                            Memory does not have an image   -->
                                <th:block th:case="true">
                                    <div class="card hoverable grey lighten-4">
                                        <div class="card-content" style="padding: 10px !important">
                                         <span class="card-title center" th:text="${memory.user.getFullName()}"></span>
                                            <br>
                                            <p class="center">"<span th:text="${memory.body}"></span>"</p>
                                            <br>
                                            <div class="row" style="margin-bottom: 0 !important">
                                                <div class="col s12"><p th:text="${memory.getCreatedDate()}"></p></div>
<!--                                                <div class="col s6"><p class="right" th:text="${memory.getCreatedTime()}"></p></div>-->
                                            </div>
                                        </div>
                                        <div class="card-action">
                                            <div class="row" style="margin-bottom: 0 !important;">
                                                <div class="col s6">
                                                    <div class="row" style="margin-bottom: 0 !important;">
                                                        <th:block th:switch="${user.getId()} == 0">
                                                            <th:block th:case="true">
                                                                <div class="col s6 offset-s6">
                                                                    <th:block th:if="${memory.getNumberOfComments()} != null">
                                                                      <a class="activator light-blue-text text-darken-4" href="#!">
                                                                          <i class="material-icons tooltipped" data-position="bottom" data-tooltip="View Comments">remove_red_eye</i>
                                                                      </a>
                                                                    </th:block>
                                                                </div>
                                                            </th:block>
                                                            <th:block th:case="*">
                                                                <div class="col s6">
                                                                    <a th:href="'#addComment' + ${memory.getId()}" class="modal-trigger light-blue-text text-darken-4">
                                                                      <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Add Comment">comment</i>
                                                                    </a>
        <!--                                                            <div th:replace="partials/modal.html :: comment-modal"></div>-->
                                                                </div>
                                                                <div class="col s6">
                                                                    <th:block th:if="${memory.getNumberOfComments()} != null">
                                                                      <a class="activator light-blue-text text-darken-4" href="#!">
                                                                          <i class="material-icons tooltipped" data-position="bottom" data-tooltip="View Comments">remove_red_eye</i>
                                                                      </a>
                                                                    </th:block>
                                                                </div>
                                                            </th:block>
                                                        </th:block>
                                                    </div>
                                                </div>
                                                <div class="col s6">
                                                    <div class="row" style="margin-bottom: 0 !important">
                                                        <div class="col s6">
                                                            <th:block th:if="${user.getId()} == ${memory.getUser().getId()}">
                                                                    <a th:href="'#edit' + ${memory.getId()}" class="modal-trigger light-blue-text text-darken-4">
                                                                        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="edit">edit</i>
                                                                    </a>
<!--                                                                    <div th:replace="partials/modal.html :: edit-memory-modal"></div>-->
                                                            </th:block>
                                                        </div>
                                                        <div class="col s6">
                                                            <th:block th:if="${user.getId()} == ${memory.getUser().getId()}">
                                                                    <a th:href="'#delete' + ${memory.getId()}" class="modal-trigger light-blue-text text-darken-4">
                                                                        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="delete">delete</i>
                                                                    </a>
<!--                                                                    <div th:replace="partials/modal.html :: delete-memory-modal"></div>-->
                                                            </th:block>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title">Comments<i class="material-icons right">close</i></span>
                                            <th:block th:each="comment : ${memory.getComments()}">
                                                <th:block th:switch="${user.getId()} == ${comment.getUser().getId()}">
                                                    <th:block th:case="true">
                                                        <h6 class="center" th:text="${comment.user.getFullName()}"></h6>
                                                        <p class="center">"<span th:text="${comment.body}"></span>"</p>
                                                        <div class="row">
                                                            <div class="col s6">
                                                                <p th:text="${comment.getCreatedDate()}"></p>
                                                            </div>
                                                            <div class="col s3">
                                                                <p><a th:href="'#editC' + ${comment.getId()}" class="modal-trigger light-blue-text text-darken-4"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="edit">edit</i></a></p>
<!--                                                                <div th:replace="partials/modal.html :: edit-comment-modal"></div>-->
                                                            </div>
                                                            <div class="col s3">
                                                                <p><a th:href="'#deleteC' + ${comment.getId()}" class="modal-trigger light-blue-text text-darken-4"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="delete">delete</i></a></p>
<!--                                                                <div th:replace="partials/modal.html :: delete-comment-modal"></div>-->
                                                            </div>
                                                        </div>
                                                    </th:block>
                                                    <th:block th:case="*">
                                                        <h6 class="center" th:text="${comment.user.getFullName()}"></h6>
                                                        <p class="center">"<span th:text="${comment.body}"></span>"</p>
                                                        <p th:text="${comment.getCreatedDate()}"></p>
                                                    </th:block>
                                                </th:block>
                                            </th:block>
                                        </div>
                                    </div>
                                </th:block>
    <!--                            Memory has an image -->
                                <div th:case="*">
                                     <div class="card hoverable grey lighten-4">
                                         <div class="card-image">
                                          <img th:src="${memory.getImage()}">
                                        </div>
                                        <div class="card-content" style="padding: 10px !important">
                                         <span class="card-title center" th:text="${memory.user.getFullName()}"></span>
                                            <br>
                                            <p class="center">"<span th:text="${memory.body}"></span>"</p>
                                            <br>
                                            <div class="row" style="margin-bottom: 0 !important">
                                                <div class="col s6"><p th:text="${memory.getCreatedDate()}"></p></div>
                                                <div class="col s6"><p class="right" th:text="${memory.getCreatedTime()}"></p></div>
                                            </div>
                                        </div>
                                        <div class="card-action">
                                            <div class="row" style="margin-bottom: 0 !important;">
                                                <div class="col s6">
                                                    <div class="row" style="margin-bottom: 0 !important;">
                                                        <th:block th:switch="${user.getId()} == 0">
                                                            <th:block th:case="true">
                                                                <div class="col s6 offset-s6">
                                                                    <th:block th:if="${memory.getNumberOfComments()} != null">
                                                                      <a class="activator light-blue-text text-darken-4" href="#!">
                                                                          <i class="material-icons tooltipped" data-position="bottom" data-tooltip="View Comments">remove_red_eye</i>
                                                                      </a>
                                                                    </th:block>
                                                                </div>
                                                            </th:block>
                                                            <th:block th:case="*">
                                                                <div class="col s6">
                                                                    <a th:href="'#addComment' + ${memory.getId()}" class="modal-trigger light-blue-text text-darken-4">
                                                                      <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Add Comment">comment</i>
                                                                    </a>
        <!--                                                            <div th:replace="partials/modal.html :: comment-modal"></div>-->
                                                                </div>
                                                                <div class="col s6">
                                                                    <th:block th:if="${memory.getNumberOfComments()} != null">
                                                                      <a class="activator light-blue-text text-darken-4" href="#!">
                                                                          <i class="material-icons tooltipped" data-position="bottom" data-tooltip="View Comments">remove_red_eye</i>
                                                                      </a>
                                                                    </th:block>
                                                                </div>
                                                            </th:block>
                                                        </th:block>
                                                    </div>
                                                </div>
                                                <div class="col s6">
                                                    <div class="row" style="margin-bottom: 0 !important">
                                                        <div class="col s6">
                                                            <th:block th:if="${user.getId()} == ${memory.getUser().getId()}">
                                                                    <a th:href="'#edit' + ${memory.getId()}" class="modal-trigger light-blue-text text-darken-4">
                                                                        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="edit">edit</i>
                                                                    </a>
<!--                                                                    <div th:replace="partials/modal.html :: edit-memory-modal"></div>-->
                                                            </th:block>
                                                        </div>
                                                        <div class="col s6">
                                                            <th:block th:if="${user.getId()} == ${memory.getUser().getId()}">
                                                                    <a th:href="'#delete' + ${memory.getId()}" class="modal-trigger light-blue-text text-darken-4"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="delete">delete</i></a>
<!--                                                                    <div th:replace="partials/modal.html :: delete-memory-modal"></div>-->
                                                            </th:block>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title">Comments<i class="material-icons right">close</i></span>
                                            <th:block th:each="comment : ${memory.getComments()}">
                                                <th:block th:switch="${user.getId()} == ${comment.getUser().getId()}">
                                                    <th:block th:case="true">
                                                        <h6 class="center" th:text="${comment.user.getFullName()}"></h6>
                                                        <p class="center">"<span th:text="${comment.body}"></span>"</p>
                                                        <div class="row">
                                                            <div class="col s6">
                                                                <p th:text="${comment.getCreatedDate()}"></p>
                                                            </div>
                                                            <div class="col s3">
                                                                <p><a th:href="'#editC' + ${comment.getId()}" class="modal-trigger light-blue-text text-darken-4"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="edit">edit</i></a></p>
<!--                                                                <div th:replace="partials/modal.html :: edit-comment-modal"></div>-->
                                                            </div>
                                                            <div class="col s3">
                                                                <p><a th:href="'#deleteC' + ${comment.getId()}" class="modal-trigger light-blue-text text-darken-4"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="delete">delete</i></a></p>
<!--                                                                <div th:replace="partials/modal.html :: delete-comment-modal"></div>-->
                                                            </div>
                                                        </div>
                                                    </th:block>
                                                    <th:block th:case="*">
                                                        <h6 class="center" th:text="${comment.user.getFullName()}"></h6>
                                                        <p class="center">"<span th:text="${comment.body}"></span>"</p>
                                                        <p th:text="${comment.getCreatedDate()}"></p>
                                                    </th:block>
                                                </th:block>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    </div>
        </div>
    </div>

<!--    Map and Links-->
    <th:block th:switch="${echo.getUser().getId() == user.getId()}">
        <th:block th:case="false">
            <th:block th:if='${!(echo.getRestingPlace().equals("")) or echo.getLinks().size() > 0}'>
                <div class="container">
                    <div class="row">
                        <th:block th:if='${!(echo.getRestingPlace().equals(""))}'>
                        <div class="col s12 m7">
                            <div class="row card hoverable grey lighten-4">
                                <div class="col s12">
                                    <h5 class="center">Resting Place</h5>
                                </div>
                                <div class="col s12" style="display: flex;align-items: center;justify-content: center;">
                                    <img class="responsive-img" id="staticmap" style="border: 5px solid #01579B">
                                </div>
                                <div class="col s12">
                                    <p class="center" id="burialaddress" th:text="${echo.restingPlace}"></p>
                                </div>
                            </div>
                        </div>
                        </th:block>
                        <th:block th:if="${echo.getLinks().size()} > 0">
                            <div class="col m4 offset-m1 s12 card hoverable grey lighten-4"  style="display: flex;align-items: center;justify-content: center; flex-direction: column">
                                <h5>Links</h5>
                                <ul>
                                    <li th:each="link : ${echo.getLinks()}" style="margin-bottom: 10px">
                                        <a th:href="${link.url}" target="_blank" style="display: flex;align-items: center">
                                            <span th:text="${link.name}" ></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </th:block>
<!--        Echo is current user's-->
        <th:block th:case="true">
            <div class="container">
                <div class="row">
                    <div class="col s12 m7">
                        <div class="row card hoverable grey lighten-4">
                            <span class="card-title center" style="width: 95%;display: flex;justify-content: space-between; align-items: center"><span><i class="material-icons" style="visibility: hidden">edit</i></span><h5>Resting Place</h5><a href="#editMap" id="editModalBtn" class="modal-trigger light-blue-text text-darken-4">
                                  <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Edit Location">edit</i>
                                </a></span>
                            <div class="col s12" style="display: flex;align-items: center;justify-content: center;">
                                <img class="responsive-img" id="staticmap" style="border: 5px solid #01579B">
                            </div>
                            <div class="col s12">
                                <p class="center" id="burialaddress" th:text="${echo.restingPlace}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col m4 offset-m1 s12 card hoverable grey lighten-4"  style="display: flex;align-items: center;justify-content: center; flex-direction: column">
                        <span class="card-title" style="width: 95%;display: flex;justify-content: space-between; align-items: center"><span><i class="material-icons" style="visibility: hidden">add</i></span><h5>Links</h5><a th:href="'#addLink' + ${echo.getId()}" class="modal-trigger light-blue-text text-darken-4">
                              <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Add Link">add</i>
                            </a></span>
                        <ul style="width: 95%">
                            <li th:each="link : ${echo.getLinks()}" style="margin-bottom: 5px;display: flex;justify-content: space-between">
                                    <a th:href="${link.url}" target="_blank" style="display: flex;align-items: center">
                                        <span th:text="${link.name}" ></span>
                                    </a>
                                <p><a th:href="'#deleteL' + ${link.getId()}" class="modal-trigger light-blue-text text-darken-4"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="delete">delete</i></a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </th:block>
<!--        ^^^ Echo is current user's ^^^-->
    </th:block>
<!--    Map and Links-->

<!--    Modals-->
    <div th:replace="partials/modal.html :: map-edit-modal"></div>
    <div th:replace="partials/modal.html :: link-modal"></div>
    <th:block th:each="link : ${echo.getLinks()}">
        <div th:replace="partials/modal.html :: delete-link-modal"></div>
    </th:block>
    <th:block th:each="memory : ${echo.getMemories()}">
        <div th:replace="partials/modal.html :: comment-modal"></div>
        <div th:replace="partials/modal.html :: edit-memory-modal"></div>
        <div th:replace="partials/modal.html :: delete-memory-modal"></div>
        <th:block th:each="comment : ${memory.getComments()}">
            <div th:replace="partials/modal.html :: edit-comment-modal"></div>
            <div th:replace="partials/modal.html :: delete-comment-modal"></div>
        </th:block>
    </th:block>
<!--    Modals-->

</main>


<div th:replace="partials/footer.html :: footer"></div>
<div th:replace="partials/scripts.html :: scripts"></div>


        <script>
            $('document').ready(function(){
            let mapOptions = {
                accessToken: mapboxToken,
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                // center: [-98.4916, 29.4252], // starting position [lng, lat]
                zoom: 10,
                interactive: false
            }

            let map = new mapboxgl.Map(mapOptions);

            //GEOCODE
            var geocoder = new MapboxGeocoder({
                accessToken: mapboxToken,
                marker: {
                    color: 'blue',
                    draggable: 'false'
                },
                mapboxgl: mapboxgl
            });

            document.getElementById('geocoder').appendChild(geocoder.onAdd(map));

             //GEOLOCATE
                let geolocate = new mapboxgl.GeolocateControl({
                    positionOptions: {
                        enableHighAccuracy: true
                    },
                    trackUserLocation: false
                });
                map.addControl(geolocate);
                map.on('load', function() {
                    geolocate.trigger();
                });

            geocoder.on("result", e => {
                $("#burialaddressEdit").val(e.result.place_name);
            })

            function geocode(search, token) {
                let baseUrl = 'https://api.mapbox.com';
                let endPoint = '/geocoding/v5/mapbox.places/';
                return fetch(baseUrl + endPoint + encodeURIComponent(search) + '.json' + "?" + 'access_token=' + token)
                    .then(function(res) {
                        return res.json();
                        // to get all the data from the request, comment out the following three lines...
                    }).then(function(data) {
                        // console.log(data.features[0])
                        mapOptions.center = data.features[0].center
                        return data.features[0].center;
                    });
            }

            geocode($("#burialaddress").text(), mapboxToken).then(function(e){
                // console.log(e)
                // console.log(e.join(","))
                let eFixed = e.join(",");
                let path = 'https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s+01579B(' + eFixed + ')/' + eFixed + ',10/500x300?access_token=' + mapboxToken;
                $("#staticmap").attr("src", path);
            });

                $('#geocoder').click(function(){
                window.dispatchEvent(new Event('resize'))
                 })
            });
        </script>



</body>
</html>