<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials/head.html :: head('Log In')"></div>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

    <main class="blue-texture" style="display: flex;flex-direction: column;justify-content: center;align-items: center">
        <div></div>
        <div class="container">
            <div class="row">
                <div class="col m2 hide-on-small-only"></div>
                <div class="col s12 m6 offset-m1">
                    <div class="row" style="margin-bottom: 0 !important;">
                        <div class="col s12" style="display: flex; justify-content: center">
                            <img th:src="@{/img/echovaultlogo.png}" style="height: 100px">
                        </div>
                    </div>
                    <hr style="width: 75%" class="light-blue darken-4">
                    <form th:action="@{/forgot}" method="post">
                        <div class="input-field">
                            <label for="email">Enter Email Address</label>
                            <input id="email" name="email" type="email">
                        </div>
                        <button style="width: 100%" class="light-blue-text accent-1-text btn waves-effect waves-amber waves-lighten-4 amber lighten-2" type="submit" name="action">
                            Reset Password
                        </button>
                    </form>
                    <th:block th:if="${error}">
                        <div class="row" style="margin-bottom: 0 !important;">
                            <div class="col s12">
                                <p class="center light-blue-text text-darken-4">The email you entered is not registered with the site!</p>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="col m2 hide-on-small-only"></div>
            </div>
        </div>
        <div></div>
    </main>

<div th:replace="partials/footer.html :: footer"></div>
<div th:replace="partials/scripts.html :: scripts"></div>
</body>
</html>