<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials/head.html :: head"></div>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<main>
    <div class="container">
        <h1 class="center">What is Echo Vault</h1>
    </div>
    <p>Echo Vault is designed to give people an easy and convenient location to share memories of loved ones with stories, photos, and more.</p>
</main>

<div th:replace="partials/footer.html :: footer"></div>
<div th:replace="partials/scripts.html :: scripts"></div>
</body>
</html>





