<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="partials/head.html :: head('Welcome')"></div>

<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>


<main class="carousel carousel-slider center">
<!--    <div class="carousel-fixed-item center">-->
<!--        <a class="btn waves-effect white grey-text darken-text-2">Next Slide</a>-->
<!--    </div>-->
    <div class="carousel-item slide-1 white-text" href="next">
        <div class="row">
            <div class="col s12 m4 l3">
                <div class="echo-vault-logo">
                    <img class="logo" src="img/echovaultlogo.png" alt="Echo Vault Logo">
                </div>
                <div class="echo-vault-intro white-text">
                    <h4>Echoes are familiarly known as reflections of sound. Remember your loved one by echoing their memory where the reflection never ends.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item slide-2" href="#two!">
        <div class="row">
            <div class="col s12 m4 l3">
                <div class="register-home">
                    <h2>To view an Echo, create an Echo or add a Memory, please Register for an account and Login</h2>
                </div>
                <div>
                    <a class="btn home-buttons" th:href="@{/register}">Register</a>
                    <a class="btn home-buttons" th:href="@{/login}">Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item slide-3 white-text" href="#three!">
        <h2>Create an Echo to remember your loved one</h2>
        <div class="row">
<!--            <div class="col s12 m4 l3">-->
                    <div class="col s12 m6">
                        <h2 class="center">Add Photos</h2>
                        <div class="card profile-card grey lighten-4 medium">
                            <div class="card-image background-image">
                                <img src="img/sunset1.jpg" style="max-height: max-content">
                            </div>
                            <img class="circle profile-image" src="img/grandma.jpg" style="max-height: 200px">
                            <div class="card-content profile-content">

                                <div class="echo-profile-card-info">
                                    <p class="card-title center">FirstName LastName</p>
                                    <p class="center">Jan 01, 1934 - March 03, 2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col s12 m6">
                    <h2 class="white-text">Add a summary of your loved ones life</h2>
                    <div class="card summary-card medium hoverable grey lighten-4">
                        <div class="card-content life-story-home">
                          <span class="card-title center">
                              Life Story
                          </span>
                            <p>In this section you can write about your loved ones life. You can share details and tributes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--    </div>-->
    <div class="carousel-item slide-4" href="#four!">
        <h2>Add a Memory to an existing Echo</h2>
        <p>Users can add Memories, upload photos, and comment on Memories</p>
        <div class="row memory-form-home card hoverable grey lighten-4">
            <form method="post" class="col s12" enctype="multipart/form-data" style="padding-bottom: 10px">
                <div class="row">
                    <div class="input-field col s9">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">What would you like to share?</label>
                    </div>
                    <div class="file-field input-field col s3">
                        <div class="waves-effect waves-amber waves-lighten-4 btn amber lighten-2 light-blue-text text-darken-4" style="width: 100%">
                            <span>Photo<i class="material-icons left">image</i></span>
                            <input type="file" name="memoryImg">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="hidden">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>


<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col s12 m6">-->
<!--<div class="echo-vault-logo">-->
<!--    <img class="logo" src="img/echovaultlogo.png" alt="Echo Vault Logo">-->
<!--</div>-->
<!--<div class="echo-vault-intro white-text left-align">-->
<!--    <p>Echos are familiarly known as reflections of sound. Remember your loved one by echoing their memory where the reflection never ends.</p>-->
<!--</div>-->
<!--            </div>-->
<!--            <div class="col s12 m6">-->
<!--                <div class="carousel carousel-slider">-->
<!--                    <div class="carousel-item" th:each="echo : ${echos}" th:href="'#'+${echo.getId()}">-->
<!--                        <div class="card profile-card large">-->
<!--                            <div class="card-image background-image">-->
<!--                                <img th:src="${echo.backgroundImage}" style="max-height: max-content">-->
<!--                            </div>-->
<!--                            <img class="circle profile-image" th:src="${echo.profileImage}" style="max-height: 200px">-->
<!--                            <div class="card-content profile-content">-->
<!--                                <a class="card-title center" th:text="${echo.getFullName()}" th:href="@{/echo/{id}(id = ${echo.getId()})}"></a>-->
<!--                                <p class="center" th:text="${echo.getDisplayedDates()}"></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->





<div th:replace="partials/footer.html :: footer"></div>
<div th:replace="partials/scripts.html :: scripts"></div>
</body>
</html>





