<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Hello, ' + ${user.getFirstName()})"></head>
<body>
<main class="blue-texture profile-body">

    <nav th:replace="partials/navbar :: navbar"></nav>

<!--    <div class="row">-->
<!--        <div class="col s7 push-s5"><span class="flow-text">This div is 7-columns wide on pushed to the right by 5-columns.</span></div>-->
<!--        <div class="col s5 pull-s7"><span class="flow-text">5-columns wide pulled to the left by 7-columns.</span></div>-->
<!--    </div>-->

    <div class="row">
        <div class="col s12 m3">
            <div class="card profile-info-card center hoverable">
                <h2 class="center">Profile Info</h2>
                <img class="user-profile-img center" th:src="@{'' + ${user.image}}">
                <h5 class="profile-name center-align" th:text="${user.getUsername()}"></h5>
                <h5 class="profile-name center-align" th:text="${user.getFullName()}"></h5>
                <h5 class="profile-name center-align" th:text="${user.getEmail()}"></h5>
<!--                </div>-->
<!--                <div class="card-action">-->
                  <a th:href="@{/profile/edit}" class="waves-effect waves-amber waves-lighten-4 amber lighten-2 btn center-align">Edit Profile</a>
<!--                </div>-->
            </div>
        </div>
        <div class="col s12 m9">
            <h2 class="center">Your Echoes</h2>
            <div class="container">
                    <th:block th:if="${user.getEchoes().size()} == 0">
                        <div class="col s12 m6" style="display: flex; justify-content: center; align-items: center">
                            <a th:href="@{/echo-create}" class=" center waves-effect waves-amber waves-lighten-4 amber lighten-2 btn">
                            Create An Echo
                            </a>
                        </div>
                    </th:block>
                    <th:block th:if="${user.getEchoes().size()} > 0">
                        <div class="col s12 m6" th:each="echo : ${echoes}">
                                <div class="card hoverable grey lighten-4">
                                    <div class="card-image">
                                        <img th:src="@{'' + ${echo.profileImage}}">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title center" th:text="${echo.firstName} + ' ' + ${echo.lastName}"></span>
                                        <p class="center" th:text="${echo.birthDate} + ' - ' + ${echo.deathDate}"></p>
                                    </div>
                                    <div class="card-action">
                                        <div class="row" style="margin-bottom: 0 !important">
                                            <div class="col s4">
                                                <a th:href="@{/echo/{id}/(id=${echo.id})}" style="display: flex; justify-content: center; align-items: center">
                                                    <i class="material-icons tooltipped center-align" data-position="bottom" data-tooltip="Go To Echo">remove_red_eye</i>
                                                </a>
                                            </div>
                                            <div class="col s4">
                                                <a th:href="@{/echo/{id}/edit/(id=${echo.id})}" style="display: flex; justify-content: center; align-items: center">
                                                    <i class="material-icons tooltipped center-align" data-position="bottom" data-tooltip="Edit Echo">edit</i>
                                                </a>
                                            </div>
                                            <div class="col s4">
                                                <a th:href="'#' + ${echo.id}" class="modal-trigger" style="display: flex; justify-content: center; align-items: center">
                                                    <i class="material-icons tooltipped center-align" data-position="bottom" data-tooltip="Delete Echo">delete</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div th:replace="partials/modal.html :: delete-modal"></div>
                            <div th:text="${success}" th:if="${success}"></div>
                        </div>
                    </th:block>
                </div>
            </div>
    </div>


</main>

<div th:replace="partials/footer :: footer"></div>
<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>