<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Edit Profile')"></head>
<body>
<main>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <h1>Edit Your Profile Here!</h1>
    <div class="row">
        <form th:action="@{/profile/edit}" th:method="POST" th:object="${user}" class="col s12" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" th:field="*{firstName}">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate" th:field="*{lastName}">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" class="validate" th:field="*{username}">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" th:field="*{email}">
                    <label for="email">Email</label>
                </div>
            </div>
            <div>
                <div th:if="${user.image != null}">
                    <img th:src="@{'' + ${user.image}}" style="max-height: 200px"/>
                </div>
                <label for="user-profile-img-edit">Profile Image</label>
                <input type="hidden" name="current-image" th:value="${user.image}">
                <input id="user-profile-img-edit" name="user-profile-img-edit" type="file" />
            </div>
            <button class="btn waves-effect waves-amber waves-lighten-4 amber lighten-2" type="submit" name="action">Save Changes
                <i class="material-icons right">check</i>
            </button>
        </form>
    </div>
</main>

<div th:replace="partials/footer :: footer"></div>
<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>