<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Hello, ' + ${user.getFirstName()})"></head>
<body>
<main>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <h1>Here is your profile page, <span th:text="${user.username}"></span></h1>
    <h2>First name: <span th:text="${user.firstName}"></span></h2>
    <h2>Last name: <span th:text="${user.lastName}"></span></h2>
    <h2>Email: <span th:text="${user.email}"></span></h2>
    <div th:if="${user.image != null}">
        <img th:src="@{'' + ${user.image}}" style="max-height: 200px"/>
    </div>
    <a th:href="@{/profile/edit}" class="waves-effect waves-light btn">Edit Profile</a>

</main>

<div th:replace="partials/footer :: footer"></div>
<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>