<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Register')">
</head>
<body>
<main class="form-background">
    <nav th:replace="partials/navbar :: navbar"></nav>
    <h3 class="center-align">Sign up for an account</h3>
    <div class="row main-form-container">
        <div class="col m2 l4 hide-on-small-only"></div>
            <div class="container form-container z-depth-3">
                <div class="row form-inner-container">
                    <div class="col s12 form-only-container">
                        <form th:action="@{/register}" th:method="POST" th:object="${user}" class="col s12 offset-2 register-form" enctype="multipart/form-data">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="first_name" type="text" class="validate" th:field="*{firstName}">
                                    <label for="first_name">First Name</label>
                                    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="red-text" />
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name" type="text" class="validate" th:field="*{lastName}">
                                    <label for="last_name">Last Name</label>
                                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="red-text" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="username" type="text" class="validate" th:field="*{username}">
                                    <label for="username">Username</label>
                                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="red-text"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate" th:field="*{password}">
                                    <label for="password">Password</label>
                                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="red-text"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="confirmPassword" type="password" class="validate" name="confirm">
                                    <label for="confirmPassword">Confirm Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate" th:field="*{email}">
                                    <label for="email">Email</label>
                                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="red-text"/>
                                </div>
                            </div>
                            <div class="file-field input-field">
                                <div class="home-buttons btn waves-effect waves-amber waves-lighten-4 amber lighten-2">
                                    <span>Upload a Profile Image</span>
                                    <input type="file" name="user-profile-img" th:value="*{image}">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <button class="home-buttons btn waves-effect waves-amber waves-lighten-4 amber lighten-2 padded-btn" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        <div class="col m2 l4 hide-on-small-only"></div>
    </div>
</main>

<div th:replace="partials/footer :: footer"></div>

<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>