<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Search')"></head>


<body class="blue-texture">

    <nav th:replace="partials/navbar :: navbar"></nav>


    <nav>
        <div class="nav-wrapper amber lighten-2">
            <form th:action="@{/search}" method="post">
                <div class="input-field" >
                    <input id="search" type="search" placeholder="Search" required name="search">
                    <label class="label-icon" for="search"><i class="material-icons search-icon">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>

    <main>

    <div class="row">
        <div class="col s12 m4" th:each="echo : ${echos}">
            <div class="card profile-card large hoverable grey lighten-4">
                <div class="card-image background-image">
                  <img th:src="${echo.backgroundImage}" style="max-height: max-content">
                </div>
                <img class="circle profile-image responsive-img" th:src="${echo.profileImage}" style="max-height: 200px">
                <div class="card-content profile-content" style="margin-top: auto">
                  <h5 class="center">
                      <a th:text="${echo.getFullName()}" th:href="@{/echo/{id}(id = ${echo.getId()})}"></a>
                  </h5>
                  <p class="center" th:text="${echo.getDisplayedDates()}" ></p>
                </div>
            </div>
        </div>
<!--        <div class="col s12 m4 l3" th:each="echo : ${echos}">-->
<!--            <div class="card profile-card large">-->
<!--                <div class="card-image background-image">-->
<!--                    <img th:src="${echo.backgroundImage}" style="max-height: max-content">-->
<!--                </div>-->
<!--                    <img class="circle profile-image" th:src="${echo.profileImage}" style="max-width: 200px">-->
<!--                <div class="card-content profile-content">-->
<!--                    <a class="card-title center" th:text="${echo.getFullName()}" th:href="@{/echo/{id}(id = ${echo.getId()})}"></a>-->
<!--                    <p class="center" th:text="${echo.getDisplayedDates()}"></p>-->
<!--                </div>-->

<!--&lt;!&ndash;            <div class="card-action">&ndash;&gt;-->
<!--&lt;!&ndash;                <a th:href="@{/echo/{id}(id = ${echo.getId()})}">View Echo</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
    </div>

    </main>

<div th:replace="partials/footer.html :: footer"></div>
<div th:replace="partials/scripts.html :: scripts"></div>
</body>
</html>