<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>


<body>
<form>
    <nav th:replace="partials/navbar :: navbar"></nav>

    <nav>
        <div class="nav-wrapper">
            <form th:object="${echo}" method="post">
                <div class="input-field">
                    <input id="search" type="text" name="last_name" th:value="${echo}">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>


    <table>

        <tr th:each="lecture : ${foundEchos}">
            <td><span th:text="${echo.first_name}" >First Name:</span></td>
            <td><span th:text="${echo.last_name}" >Last Name</span></td>

        </tr>

    </table>




</body>
</html>